*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.sign-in-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/bg1.jpg);
  background-size: cover;
	background-position: center;
}

.sign-in-container{
  width: 450px;
  background: rgba(255, 255, 255, .5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}


.sign-in-header{
  margin-bottom: 2rem;
}


.sign-in-logo img{
  width: 80px;
  height: 80px;
}

.sign-in-logo,
.sign-in-header{
    text-align: center;
}

