@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background:url(/assets/img/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.sign-up-container{
  width: 450px;
  background: rgba(255, 255, 255, .5);
  padding: 4rem;  
  border-radius: 8px;
  position: relative; 
  border: 2px solid skyblue;
 

}

.sign-up-logo{
  margin-bottom: 2rem;
}

.sign-up-logo img{
  width: 75px;
}

.sign-up-logo,
.sign-up-header,
.sign-up-footer{
  text-align: center;
}

.sign-up-container a{
  text-decoration: none;
  color: blueviolet;
}

.sign-up-container a:hover{
  text-decoration: underline;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sign-up-form .form-item{
  position: relative;
}

.sign-up-form .form-item label{
  position: block;
  top: .82rem;
  left: 1.4rem;
  font-size: 14px;
}

.sign-up-form .checkbox{
  display: flex;
  align-items: center;
  gap: 7px;
}

.sign-up-form .form-item-others{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: .5rem;
}

.sign-up-footer{
  margin-top: 1.5rem;
  font-size: 14px;
}

.sign-up-container input{
  border: 1px solid skyblue;
  outline: none;
  background: rgba(137, 196, 244, .1);
  padding: 1.2rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
}

.sign-up-form button{
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  letter-spacing: 1px;
}

.sign-up-form button:hover{
  cursor: pointer;
  background-color: skyblue;
  color: black;
}

p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}
