<div class ="container">
 	<nav>
 		<img src="/assets/img/logo.png" class="logo">

 		<ul>
 			<li> <a routerLink="/"> Home </a></li>
 			<li> <a routerLink="/about-us"> About Us </a></li>
 			<li> <a routerLink="/contacts"> Contact Us </a></li>
 		</ul>

 		 	<button type="button" routerLink="/sign-in">Sign In</button>
      <button type="button" routerLink="/sign-up">Sign Up</button>
 	</nav>	

 	<div class = "content">
 			<h1>APPOINT US NOW!</h1>
 			<p> SOME SUB HEADER </p>
 			

 	 </div>



 	</div>
