

.container{
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(123, 180, 243, 0.39),rgba(123, 180, 243, 0.39)), url(/assets/img/bg1.jpg);
	background-size: cover;
	background-position: center;
	padding: 10px 8%;
}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;

}
.logo{
	width: 100px;
	cursor: pointer;
}

nav ul{
	list-style: none;
	width: 100%;
	text-align: left;
	padding-right: 60px;
}
nav ul li{
	display:inline-block;
	margin: 10px 20px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}


button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 90px;
	font-weight: bold;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span {
	background: transparent;
	height: 100%;
	width: 0;
	border-radius: 90px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	
}
button:hover span{
	width: 100%;
}
button:hover{
	background: #A3e2ea;
}

.content{
	margin-top: 5%;
	color: #fff;
	max-width: 700px;
}
.content h1{
	font-size: 50px;
	font-weight: 800;
	line-height: 80px;
	margin-bottom: 25px;
}
.content p{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
