<body>

<h1>Clinic Schedule List</h1>

<table id="patient">
  <tr>
    <th>Clinic</th>
    <th>Clinic Schedule</th>
    <th>Doctor</th>
    <th>Doctor Specialization</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Central Link (Laboratory & Medical Clinics</td>
    <td>Monday to Friday(9:30 AM to 5:00 PM)</td>
    <td>Arbel Uy Perete, MD</td>
    <td>Heart Specialist</td>
    <td><div>
        <button class="btn btn-sm btn-success" >Get Appointment</button>      
    </div>
    </td>
  </tr>

  <tr>
    <td>Central Link (Laboratory & Medical Clinics</td>
    <td>Monday to Friday(9:30 AM to 5:00 PM)</td>
    <td>Arbel Uy Perete, MD</td>
    <td>Heart Specialist</td>
    <td><div>
        <button class="btn btn-sm btn-success" >Get Appointment</button>      
    </div>
    </td>
  </tr>

  <tr>
    <td>Central Link (Laboratory & Medical Clinics</td>
    <td>Monday to Friday(9:30 AM to 5:00 PM)</td>
    <td>Arbel Uy Perete, MD</td>
    <td>Heart Specialist</td>
    <td><div>
        <button class="btn btn-sm btn-success" >Get Appointment</button>      
    </div>
    </td>
  </tr>

  <tr>
    <td>Central Link (Laboratory & Medical Clinics</td>
    <td>Monday to Friday(9:30 AM to 5:00 PM)</td>
    <td>Arbel Uy Perete, MD</td>
    <td>Heart Specialist</td>
    <td><div>
        <button class="btn btn-sm btn-success" >Get Appointment</button>      
    </div>
    </td>
  </tr>


  <tr>
    <td>Central Link (Laboratory & Medical Clinics</td>
    <td>Monday to Friday(9:30 AM to 5:00 PM)</td>
    <td>Arbel Uy Perete, MD</td>
    <td>Heart Specialist</td>
    <td><div>
        <button type="button" class="btn btn-success">Get Appointment</button>     
    </div>
    </td>
  </tr>
  
  
</table>

</body>

