<nav>
	<ul>
		<li class="logo"><img alt="" src="assets/img/logo.png"></li>
		<li>
			<a routerLink="/user-profile"><i class="fa fa-users"></i> User's Profile</a>
		</li>
		<li>
			<a routerLink="/get-appointment"><i class="fa fa-appointment"></i> Get Appointment</a>
		</li>
		<li>
			<a routerLink="/my-appointment"><i class="fa fa-users Appointment"></i> My Appointment</a>
		</li>
		</ul>
	</nav>
	<div class="wrapper">
		<div class="section">
			<div class="box-area">
<body>

    <h1>MY APPOINTMENT</h1>
    
    <table id="patient">
      <tr>
        <th>Appointment No.</th>
        <th>Clinic</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Doctor</th>
        <th>Appointment Status</th>
        <th>Download</th>
        <th>Cancel</th>
      </tr>
      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>

      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>

      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>

      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>

      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>

      <tr>
        <td>001</td>
        <td>Central Link (Laboratory & Medical Clinics</td>
        <td>11/25/22</td>
        <td>1:00 pm</td>
        <td>Arbel Uy Perete, MD</td>
        <td>BOOKED</td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >PDF</button>      
        </div>
        </td>
        <td>
            <div>
            <button class="btn btn-sm btn-success" >X</button>      
        </div>
        </td>
      </tr>
    
     
      
      
    </table>
    
    </body>
  </div>
</div>
</div>
