*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--poppins);
}

.container{
	width: 100%;
	min-height: 100vh;
	background-image: url(/assets/img/bg1.jpg);
	background-size: cover;
	background-position: center;
	padding: 10px 8%;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
	
.logo{
	width: 100px;
	cursor: pointer;
}

nav ul{
	flex: 2;
	text-align: left;
	padding-right: 60px;
	margin-left: 40px;
}
nav ul li{
	display:inline-block;
	list-style: none;
	margin: 20px 40px;
}
nav ul li a{
	font-family: 'Lilita One', cursive;
	color: #0d0e0e;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	font-size: 120%;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: #0d0e0e;
	transition: width 0.3s;
}
nav ul li a:hover::after{
	width: 50%;
}

button{
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 900;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 10px;
	font-weight: 900;
	background: transparent;
	color: #0d0e0e;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border: 2px solid #000;
	letter-spacing: 2px;
	text-transform: uppercase;
}
button:hover{
	background: #739db1;
	color: #0d0e0e;
	box-shadow: 0 0 10px #0d3a27, 0 0 10px #255a67, 0 0 10px #117790, 0 0 10px #45c2e1;
	transition: 0.5s;
}
span {
	background: transparent;
	height: 100%;
	width: 0;
	border-radius: 90x;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;	
}
button:hover span{
	width: 100%;
}

.content{
	margin-top: 5%;
	color: #0d0e0e;
	max-width: 700px;
}
.content h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 50.7px;
	font-weight: 800;
	color: darkcyan;
	line-height: 80px;
	margin-bottom: 25px;
	text-align: center;
}
.content h2{
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(14, 196, 14);
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 6px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 4%;
}
.content p{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 800;
	color: #0d0e0e;
	letter-spacing: 2px;
	line-height: 40px;
	text-align: justify;
	
}





/*pig add ni mutya*/

.column {
	float: left;
	width: 17%;
	margin-bottom: 5px;
	padding: 0 8px;
  }
  
  .flip-card {
	  background-color: transparent;
	  width: 250px;
	  height: 200px;
	  perspective: 1000px; 
	}
	
	/* This container is needed to position the front and back side */
	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  transition: transform 0.8s;
	  transform-style: preserve-3d;
	}
	
	/* Do an horizontal flip when you move the mouse over the flip box container */
	.flip-card:hover .flip-card-inner {
	  transform: rotateY(180deg);
	}
	
	/* Position the front and back side */
	.flip-card-front, .flip-card-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden; /* Safari */
	  backface-visibility: hidden;
	 
	}
	
   
	
	/* Style the back side */
	.flip-card-back {
	  background-color: rgb(30, 155, 177);
	  color: white;
	  transform: rotateY(180deg);
	 
	}
  
	button1 {
	  border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: rgb(29, 212, 233);
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}
	
	a {
	  text-decoration: none;
	  font-size: 20px;
	  color: rgb(181, 233, 248);
	  
	  
	}
  
	button:hover, a:hover {
	  opacity: 0.7;
	}