<div class ="container">
  <nav>
    <img src="/assets/img/logo.png" class="logo">

    <ul>
      <li> <a routerLink="/"> Home </a></li>
      <li> <a routerLink="/about-us"> About Us </a></li>
      <li> <a routerLink="/contacts"> Contact Us </a></li>
    </ul>

    <button type="button" routerLink="/sign-in">Sign In</button>
    <button type="button" routerLink="/sign-up">Sign Up</button>
  </nav>	

  <div class = "content">
    <h1> Welcome to Clinic Appointment! </h1>

    <h2> We are here to help you make the best choices for your health. </h2>
    
    <p> An award-winning resource for credible and up-to-date information you need to confidently 
    make health choices for yourself and your loved ones. 
    We are dedicated to empowering you with the best answers to your most pressing questions, 
    from understanding infectious diseases to managing a new diagnosis and everything in between.</p>
      

   </div>



  </div>
