<div class ="container">
  <nav>
    <img src="/assets/img/logo.png" class="logo">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <ul>
      <li> <a routerLink="/"> Home </a></li>
      <li> <a routerLink="/about-us"> About Us </a></li>
      <li> <a routerLink="/contacts"> Contact Us </a></li>
    </ul>

    <button type="button" routerLink="/sign-in">Sign In</button>
    <button type="button" routerLink="/sign-up">Sign Up</button>
  </nav>	

  <div class = "content">
    <h1> Let's Get In Touch </h1>
    <h2> Contact us today, and get reply within 24 hours! </h2>
    <br>
    <p>Whether you have a question, want to consult something.<br>
       Feel free to send us message in the contact form.</p>
   </div>
  </div>
  <div class="contact-us">
    <div class="title">
      <h1>Send a Message</h1>
    </div>
    <div class="form">
      <div class="form-items">
        <input type="text" class="input" placeholder="Username">
        <i class="fas fa-user"></i>
      </div>
      <div class="form-items">
        <input type="text" class="input" placeholder="Email">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="form-items">
        <textarea class="input message" cols="30" rows="10" placeholder="How can we help you?"></textarea>
      </div>
    </div>
    
    <div class="btn">
      Submit
      <i class="fas fa-arrow-right"></i>
    </div>
    
    
    <div class="social-icons">
      <div class="facebook">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="twitter">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="google">
        <i class="fab fa-google-plus-g"></i>
      </div>
    </div>
    
  </div>
  