<div class ="container">
  <nav>
    <img src="/assets/img/logo.png" class="logo">

    <ul>
      <li> <a routerLink="/"> Home </a></li>
      <li> <a routerLink="/about-us"> About Us </a></li>
      <li> <a routerLink="/contacts"> Contact Us </a></li>
    </ul>

       <button type="button"> <span> </span> SIGN UP</button>
           <button type="button"> <span> </span>LOG IN</button>
  </nav>	

  <div class = "content">
      <h1> SOME HEADER <br> SOME HEADER </h1>
      <p>This is Contact</p>
      

   </div>



  </div>
