<div class ="container">
  <nav>
    <img src="/assets/img/logo.png" class="logo">

    <ul>
      <li> <a routerLink="/"> Home </a></li>
      <li> <a routerLink="/about-us"> About Us </a></li>
      <li> <a routerLink="/contacts"> Contact Us </a></li>
    </ul>

    <button type="button" routerLink="/sign-in">Sign In</button>
    <button type="button" routerLink="/sign-up">Sign Up</button>
  </nav>	

  <div class = "content">
      
    <form action="">
      <h2>How can we help you?</h2>
      <input type="text">

      <h2>Your email</h2>
      <input type="text">

      <h2>Describe your Problem</h2>
      <input type="text">

      <br>

      <button type="submit">Submit</button>
      
    </form>
      

   </div>



  </div>
