<nav>
	<ul>
		<li class="logo"><img alt="" src="assets/img/logo.png"></li>
		<li>
			<a routerLink="/user-profile"><i class="fa fa-users"></i> User's Profile</a>
		</li>
		<li>
			<a routerLink="/get-appointment"><i class="fa fa-appointment"></i> Get Appointment</a>
		</li>
		<li>
			<a routerLink="/my-appointment"><i class="fa fa-users Appointment"></i> My Appointment</a>
		</li>
		</ul>
	</nav>
	<div class="wrapper">
		<div class="section">
			<div class="box-area">
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://yt3.ggpht.com/XiaL1AebRl2dS6-jnTaE1WVFjXMJjZPICW2fOhj3pk8K01e0gaBvTe74rwMTeygNrJ8YAgIM-w=s900-c-k-c0x00ffffff-no-rj" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Mutya Ayeng</h4>
                      <p class="text-secondary mb-1">Patient</p>
                      <p class="text-muted font-size-sm">Sagpon, Daraga Albay</p>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
             <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Hannah Mae dela Cruz Ayeng
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      mutyaganda@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      123456789
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        Sagpon, Daraga Albay
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success">Edit</button>
                    </div>
                   <hr>
                   <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success">Log-Out</button>
                    </div>
                  </div>
                </div>
              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          


